.openerp .oe_form_sheet_width_1 {
  min-width: 2500px;
  max-width: 2500px;
  margin: 0 auto;
}

.openerp .oe_form_sheet_width_5 {
  min-width: 1000px;
  max-width: 1000px;
  margin: 0 auto;
}


.widthcolumn[data-id="incentive_id"]{
    width: 1000px;
}

.openerp .oe_form_sheet_width_2 {
  min-width: 5000px;
  max-width: 5000px;
  margin: 0 auto;
}


.openerp .oe_form_sheet_height {
  min-height: 5000px;
  max-height: 5000px;
  margin: 0 auto;
}

.openerp .oe_form_sheet_width_3 {
  min-width: 3200px;
  max-width: 3200px;
  margin: 0 auto;
}

.openerp .oe_form_sheet_width_ezra_1 {
    min-width: 650px;
    max-width: 860px;
    margin: 0 auto;
}


.openerp .oe_form_sheet_width_alphalist {
    min-width: 5000px;
    max-width: 5000px;
    margin: 0 auto;
}

.openerp .oe_form_header_ezra{
  min-width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
}

.openerp .oe_list_field_grosspaycolor{
    background-color: rgba(224, 144, 144, 0.43);
}
.openerp .oe_list_header_grosspaycolor{
    background-color: rgba(224, 144, 144, 0.43);
}

.openerp .oe_list_header_deduction{
    background-color: rgba(224, 144, 144, 0.43);
}

.openerp .oe_list_field_deduction{
    background-color: rgba(224, 144, 144, 0.43);
}
